@font-face {
    font-family: 'PermanentMarker-Regular';
    src: url('fonts/PermanentMarker-Regular.ttf') format('woff2')
}

@font-face {
    font-family: 'RobotoSlab-VariableFont';
    src: url('fonts/RobotoSlab-VariableFont_wght.ttf') format('woff2')
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    margin: 0;

    background-color: whitesmoke;
    font-family: 'RobotoSlab-VariableFont';
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3vw;

    min-height: 10vh;
    padding: 1vh 3vw;

    font-family: 'PermanentMarker-Regular';
    background: linear-gradient(135deg, rgb(0, 65, 150), rgb(0, 123, 255));

    h1 {
        font-size: clamp(3rem, 5vw, 4rem);
        margin: 0;

        color: white;
        white-space: nowrap;
    }

    .search-container {
        position: relative;

        width: 100%;
        max-width: 400px;

        input {
            width: 100%;
            font-size: clamp(0.8em, 1vw, 1em);
            font-family: monospace;
            font-weight: bold;
            word-spacing: -4px;
        }

        .clear-btn {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);

            background: none;
            border: none;
            font-size: 1.2rem;
            font-family: monospace;
            color: black;
            cursor: pointer;

            &:hover {
                color: #333333;
                transition: none;
                box-shadow: none;
            }

        }
    }

    .add-book-btn,
    .change-view-btn {
        min-width: fit-content;

        padding: 5px 10px;
        font-family: 'PermanentMarker-Regular';
        font-size: clamp(1rem, 2vw, 1.5rem);
        background-color: #5dbbff;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 0 4px 8px rgba(163, 216, 255, 0.4);
        transition: all 0.4s ease;
        
        &:hover {
            background-color: #A3D8FF;
            transform: translateY(-2px);
            box-shadow: 0 6px 15px rgba(106, 193, 255, 0.5);
        }
    }

    .layouts-btns {
        display: flex;
        gap: 10px;
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    min-height: 6vh;
    width: 100%;
    padding: 10px;

    font-size: clamp(.5em, 3vw, 1em);
    background: linear-gradient(135deg, rgb(0, 65, 150), rgb(0, 123, 255));

    p {
        margin: 0;
        color: white;
    }

    .statistics-container {
        display: flex;
        flex-direction: column;
        gap: 2vh;

        width: fit-content;
        padding: 20px;

        white-space: nowrap;
        border: 3px solid rgb(0, 65, 150);
        border-radius: 10px;
        color: rgb(0, 65, 150);

        legend {
            padding: 6px 12px;

            color: rgb(0, 65, 150);
            background-color: whitesmoke;
            border-radius: 6px;
            font-weight: bold;
            border: 1px solid rgb(224, 224, 224);
        }
    }
}

.main-container {
    flex-grow: 1;
}

table {
    width: 100%;

    border-collapse: collapse;
    text-align: center;

    thead {
        font-size: clamp(1rem, 2vw, 1.5rem);
        background-color: rgb(224, 224, 224);
        color: rgb(0, 0, 0);

        th {
            padding-block: 1vh;
        }
    }

    tbody tr {
        border-block-end: 2px solid #ddd;
    }

    td {
        padding-block: 2vh;
        margin: 0 auto;
        padding-inline: 2vw;

        font-size: clamp(.8em, 1vw, 1em);
    }

    .actions-container {
        white-space: nowrap;
    }

    .book-img {
        display: block;
        min-width: 50px;
        max-width: 10vw;

        margin: 0 auto;
    }

    button {
        min-width: 60px;
    }
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;

    padding: 2vh 0;

    .book-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "img details"
            "img actions";

        width: 400px;
        height: auto;

        background-color: #e8e8e8;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        overflow: hidden;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
        }

        .book-img {
            grid-area: img;
            width: 100%;
            height: 100%;
            object-fit: contain;
            padding: 1em;
        }

        .details {
            grid-area: details;
            text-align: center;
        }

        .actions-container {
            grid-area: actions;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            padding: 1em;
        }

    }

}

.no-books-found {
    width: 100vw;

    h2 {
        position: relative;

        display: flex;
        justify-content: center;

        margin-block-start: 8vh;

        font-size: clamp(1.2em, 2vw, 1.8em);
        text-align: center;
        color: rgba(0, 0, 0, 0.3);
    }
}

.actions-container {

    button {
        width: 150px;
        min-width: 55px;
        max-width: 20vw;
        padding-block: 10px;
        margin: 0.2vh;

        font-family: 'RobotoSlab-VariableFont';
        color: #ffffff;
        font-size: clamp(.7rem, 2vw, 1rem);
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.4s ease;

        &.details-btn {
            background-color: #4ea8de;

            &:hover {
                background-color: #69c2fa;
            }
        }

        &.update-btn {
            background-color: #f1c40f;

            &:hover {
                background-color: #f5d238;
            }
        }

        &.remove-btn {
            background-color: #e67e22;

            &:hover {
                background-color: #ff923f;
            }
        }

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

        &:active {
            transform: scale(1);
        }
    }
}

.modal {
    gap: 10px;

    width: 90%;
    max-width: 500px;
    font-size: clamp(0.8em, 2vw, 1em);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    .modal-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1vh;

        h2 {
            margin: 0 auto
        }

        h3 {
            text-align: center;
        }

        p {
            margin: 0;
            text-align: left;
        }

        .book-img {
            display: inline;
            min-width: 150px;
            max-width: 10vw;

            margin: 0 auto;
        }

        .rating-container {
            display: flex;
            justify-content: center;
            align-items: center;

            max-width: 80%;

            margin: 5px auto;
            padding: 8px;

            border: 2px dashed #ddd;
            background-color: #f9f9f9;
            gap: 5px;  

            div {
                display: flex;
                margin: auto 0;
            }

            .rating-img {
                display: inline;

                height: auto;
                min-width: 20px;
                max-width: 30px;
            
                margin: 0 3px ;
                font-size: initial;

                white-space: nowrap;

                &.minus-btn {
                    cursor: pointer;

                    &:active {
                        transform: scale(1.1);
                        opacity: 0.8;
                    }
                }

                &.plus-btn {
                    cursor: pointer;

                    &:active {
                        transform: scale(1.1);
                        opacity: 0.8;
                    }


                }

            }
            
        }
    }

    .modal-btns-container {
        display: flex;
        justify-content: space-around;

        margin-block-start: 10px;

        button {
            padding: 10px;

            font-family: 'RobotoSlab-VariableFont';
            color: #ffffff;
            font-size: clamp(.8rem, 2vw, 1rem);
            border: none;
            border-radius: 10px;
            cursor: pointer;

            background: linear-gradient(135deg, #4ea8de, #1d7bbc);
            transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
            width: 40%;
            margin: 0 auto;
            display: block;

            &:hover {
                background-color: linear-gradient(135deg, #69c2fa, #2b8bd2);
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
                transform: scale(1.02);
            }

            &:active {
                transform: scale(0.98);
                box-shadow: none;
            }
        }
    }
}

input {
    padding: .5em;

    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #f7f7f7;
    transition: all 0.3s ease-in-out;
    outline: none;
    font-size: clamp(0.8em, 1vw, 1em);
    font-family: monospace;
    font-weight: bold;
    word-spacing: -4px;

    &:focus {
        border-color: #4e90ff;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(78, 144, 255, 0.2);
    }

    &:placeholder {
        color: #888;
        font-style: italic;
    }

}

.rating-img {
    display: inline;

    height: auto;
    width: clamp(10px, 2vw, 30px);

    margin: 0 1px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    display: none;
    z-index: 999;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.2);

    .success-message-modal {
        position: fixed;
        top: 50%;
        left: 50%;

        display: none;

        padding: 20px;

        transform: translate(-50%, -50%);
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

        .success-message {
            padding-bottom: 10px;
            text-align: center;

            font-size: 18px;
            color: rgb(10, 89, 186);
        }

        .progress-bar-container {
            width: 100%;
            height: 10px;

            background-color: #e0e0e0;
            border-radius: 5px;

            .progress-bar {
                height: 100%;
                width: 100%;

                background-color: rgb(10, 89, 186);
                border-radius: 5px;
            }
        }
    }
}

.hidden {
    display: none;
}

@media (width < 800px) {

    header {
        flex-direction: column;
        gap: 15px;
    }

    table {
        height: max-content;
    }

    .cards-container {
        justify-content: center;
    }

    .actions-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5vh;
    }


}

@media (width < 600px) {

    .cards-container {

        .book-card {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas:
                "img"
                "details"
                "actions";

            max-width: 90%;

            .book-img {
                display: block;
                min-width: 150px;
                max-width: 10vw;

                margin: 0 auto;
            }

            .actions-container {
                flex-direction: row;

                button {
                    flex-grow: 1;
                }
            }

            &:hover {
                transform: none;
            }
        }
    }

    footer {
        flex-direction: column-reverse;

        .statistics-container {
            gap: 0;
            padding-block: 10px;
        }
    }

}