@font-face {
    font-family: 'PermanentMarker-Regular';
    src: url('fonts/PermanentMarker-Regular.ttf') format('woff2')
}

@font-face {
    font-family: 'RobotoSlab-VariableFont';
    src: url('fonts/RobotoSlab-VariableFont_wght.ttf') format('woff2')
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;

    background-color: whitesmoke;
    font-family: 'RobotoSlab-VariableFont';
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    min-height: 10vh;
    padding: 1vh 3vw;

    font-family: 'PermanentMarker-Regular';
    background: linear-gradient(135deg, rgb(0, 65, 150), rgb(0, 123, 255));

    h1 {  
        font-size: clamp(2rem, 5vw, 4rem);
        margin: 0;

        color: white;
    }

    .search-container {
        position: relative;

        width: 100%;
        max-width: 400px;

        
        input {
            min-height: 3.5vh;
            width: 100%;
            
            padding: 0.5rem;
            padding-inline-end: 35px;
            
            font-size: 1rem;
            border: 1px solid #ccc;
            border-radius: 10px;
            font-family: monospace;
            font-weight: bold;
            word-spacing: -4px;
        }

        .clear-btn {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);

            background: none;
            border: none;
            font-size: 1.2rem;
            font-family: monospace;
            color: black;
            
            &:hover {
                color: #333333;
                transition: none;
                box-shadow: none;
            }

        }
    }

    .add-book-btn {
        padding: 1.5vh;

        font-family: 'PermanentMarker-Regular';
        font-size: clamp(1rem, 2vw, 1.5rem);
        background-color: #5dbbff;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 0 4px 8px rgba(163, 216, 255, 0.4);

        &:hover {
            background-color: #A3D8FF;
            transform: translateY(-2px);
            box-shadow: 0 6px 15px rgba(106, 193, 255, 0.5);
        }
    }
    
}

footer {
    display: flex;
    align-items: center;

    min-height: 6vh;
    padding: 10px;

    font-size: 1em;
    background: linear-gradient(135deg, rgb(0, 65, 150), rgb(0, 123, 255));

    p {
        margin: 0;
        color: white;
    }
}

.books-container {
    min-height: 84.2vh;
    width: 100%;
    
    border-collapse: collapse;
    text-align: center;

    thead {
        font-size: clamp(1rem, 2vw, 1.5rem);
        background-color: rgb(224, 224, 224);
        color: rgb(0, 0, 0);

        th {
            padding-block: 1vh;
        }
    }
    
    tbody tr {
        border-block-end: 2px solid #ddd;
    }

    td {
        padding: 2vw;
        width: fit-content;
    }

    img {
        display: block;
        min-width: 70px;
        max-width: 8vw;

        margin: 0 auto;
    }

    button {
        width: clamp(80px, 50%, 7vw);
        padding: 10px;
        margin: 0.2vh;
        
        font-family: 'RobotoSlab-VariableFont';
        color: #ffffff;
        font-size: clamp(.8rem, 2vw, 1rem);
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
    
        
        &.details-btn {
            background-color: #4ea8de;
            
            &:hover {
                background-color: #69c2fa;
            }
        }
        
        &.update-btn {
            background-color: #f1c40f;
            
            &:hover {
                background-color: #f5d238;
            }
        }
        
        &.remove-btn {
            background-color: #e67e22;
            
            &:hover {
                background-color: #ff923f;
            }
        }

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }
    
        &:active {
            transform: scale(1);
        }
    }
}

.modal {
    width: 100%;
    max-width: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    .book-details {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-block-end: 1vh;

        h2 {
            margin-block: 1vh;
        }

        p {
            margin-block: 1vh;
        }

    }

    button {

        /* min-width: 7em; */

        padding: 10px;
        
        font-family: 'RobotoSlab-VariableFont';
        color: #ffffff;
        font-size: clamp(.8rem, 2vw, 1rem);
        border: none;
        border-radius: 10px;
        cursor: pointer;



        background: linear-gradient(135deg, #4ea8de, #1d7bbc);
        transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
        width: 80%;
        margin: 0 auto;
        display: block;

        &:hover {
            background-color: linear-gradient(135deg, #69c2fa, #2b8bd2);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
            transform: scale(1.02);
        }

        &:active {
            transform: scale(0.98);
            box-shadow: none;
        }
    }

}

@media (width < 960px) {
       header {
        flex-direction: column;
       } 
}

@media (width < 850px) {
    tbody td:nth-child(4) {
        display: flex;
        flex-direction: column;
    }
}