@font-face {
    font-family: 'PermanentMarker-Regular';
    src: url('fonts/PermanentMarker-Regular.ttf') format('woff2')
}

@font-face {
    font-family: 'RobotoSlab-VariableFont';
    src: url('fonts/RobotoSlab-VariableFont_wght.ttf') format('woff2')
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;

    background-color: #f4f4f4;
    font-family: 'RobotoSlab-VariableFont';
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-height: 10vh;
    padding: 10px;

    font-size: 1.5em;
    font-family: 'PermanentMarker-Regular';
    background: linear-gradient(135deg, rgb(0, 65, 150), rgb(0, 123, 255));

    h1 {
        margin: 0;
        margin-inline-start: 1vw;
        color: white;
    }

    .search-container {
        position: relative;
        width: 100%;
        max-width: 400px;
        
        input {
            min-height: 3.5vh;
            width: 100%;
            padding: 0.5rem;
            font-size: 1rem;
            border: 1px solid #ccc;
            border-radius: 10px;
            font-family: monospace;
            font-weight: bold;
            word-spacing: -4px;
        }

        .clear-btn {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);

            background: none;
            border: none;
            font-size: 1.2rem;
            font-family: monospace;
            color: black;
            
            &:hover {
                color: #333333;
                transition: none;
                box-shadow: none;
            }

        }
    }

    .add-book {
        margin-inline-end: 1vw;

        font-family: 'PermanentMarker-Regular';
        font-size: clamp(1rem, 2vw, 1.5rem);
        background-color: #d1d1d1;
    }

    button:hover {
        background-color: rgb(236, 236, 236);
    }
}

footer {
    display: flex;
    align-items: center;

    min-height: 6vh;
    padding: 10px;

    font-size: 1em;
    background: linear-gradient(135deg, rgb(0, 65, 150), rgb(0, 123, 255));

    p {
        margin: 0;
        color: white;
    }
}

button {
    padding: 10px;
    font-family: 'RobotoSlab-VariableFont';

    color: #ffffff;
    font-size: clamp(.8rem, 2vw, 1rem);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    &:active {
        transform: scale(1);
    }
}

.books-container {
    min-height: 84.2vh;
    width: 100%;
    
    border-collapse: collapse;
    text-align: center;

    thead {
        font-size: 20px;
        background-color: rgb(224, 224, 224);
        color: rgb(0, 0, 0);

        th {
            padding-block: 1vh;
        }
    }
    
    tbody tr {
        border-block-end: 2px solid #ddd;
    }

    td {
        padding: 2vh;
    }

    img {
        display: block;
        max-width: 7vw;

        margin: 0 auto;
    }

    button {
        min-width: 7em;
    }

    .details-btn {
        background-color: #4ea8de;

        &:hover {
            background-color: #69c2fa;
        }
    }
    
    .update-btn {
        background-color: #f1c40f;

        &:hover {
            background-color: #f5d238;
        }
    }
    
    .remove-btn {
        background-color: #e67e22;

        &:hover {
            background-color: #ff923f;
        }
    }
}

.modal {
    width: 100%;
    max-width: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    .book-details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button {
        background: linear-gradient(135deg, #4ea8de, #1d7bbc);
        transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
        width: 80%;
        margin: 0 auto;
        display: block;

        &:hover {
            background-color: linear-gradient(135deg, #69c2fa, #2b8bd2);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
            transform: scale(1.02);
        }

        &:active {
            transform: scale(0.98);
            box-shadow: none;
        }
    }

}
